/*
//Rage Template
//Designerd by Rima

/*==========================================

==========================================*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
	background-color: #fff;
	font-size: 14px;
	color:  #4270A3;
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 400;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

/*------------------------------------------------------------------*/

/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/*
    Page Content
------------------------------------------*/

/*
.page-content, 
section { overflow: hidden; }*/

/*
    On Scroll Animations 
------------------------------------------*/

/*.animated { visibility: hidden; }
.visible { visibility: visible; }*/

/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.roomy-80 {
	padding-top: 100px;
	padding-bottom: 80px;
}

.roomy-70 {
	padding-top: 100px;
	padding-bottom: 70px;
}

.roomy-60 {
	padding-top: 100px;
	padding-bottom: 60px;
}

.roomy-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.roomy-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}


/*text color*/


.text-blue {
	color: #1f6f8b !important;
	;
}

.text-yellow {
	color: #efb54b !important;
	;
}

.text-gray {
	color: #555 !important;
	;
}

.text-mega {
	color: #eab0a6 !important;
	;
}

.text-white {
	color: #fff !important;
	;
}

.text-black {
	color: #000 !important;
}

.bigger {
	font-size: 18px !important;  
	line-height: 2 !important;
}

.med {
	font-size: 16px !important;  
	line-height: 1.8 !important;
}

.bl{
	color:#1f6f8b;

}

.disabled {
	cursor: not-allowed;
}

/*bacground color*/

.lightbg {
	background-color: #e6d5b8;
}

.bluebg {
	background-color: #4270A3
}

.pinkbg {
	background-color: #eab0a6
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-user-select: none;
	-webkit-user-drag: none;
	-user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}

a,
button,
a span {
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

a {
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}


*,
*:before,
*:after {
	box-sizing: border-box;
	/*    direction: rtl;*/
}

p {
	margin: 0 0 15px;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #1a1a1a;
	margin-bottom: 10px;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
}

h2 {
	font-size: 2.5rem;
	line-height: 3rem;
}

h3 {
	font-size: 2.1rem;
	line-height: 2.5rem;
}

h4 {
	font-size: 1.6rem;
	line-height: 2.2rem;
}

h5 {
	font-size: 1.4rem;
	font-weight: bold
}

h6 {
	font-size: 1.2rem;
	color: #4270A3;
}



h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span {
	color: #1f6f8b;
}
.text-emph{
	color: #f59382;
	font-weight: bold
}
p {
	line-height: 1.8rem;
}

p:last-child {
	margin-bottom: 0px;
}

/*font-weights*/

.w100 {
	font-weight: 100;
}

.w200 {
	font-weight: 200;
}

.w300 {
	font-weight: 300;
}

.w400 {
	font-weight: 400;
}

.w500 {
	font-weight: 500;
}

.w600 {
	font-weight: 600;
}

.w700 {
	font-weight: 700;
}

.w800 {
	font-weight: 800;
}


/*
Section
*/

.parallax-section {
	max-width: 100%;
	color: #ffffff;
}

ul {
	margin: 0;
	padding: 20;
	/*list-style: none;*/
}

.list-inline-item {
	list-style: none;
	padding:0;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color:#f59382;
}

/*all overlay*/

.overlay {
	background-color: rgba(51, 51, 51, 0.30);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.overlay_main {
	background-color: rgba(51, 51, 51, 0.60);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

.left-no-padding {
	padding-left: 0 !important;
}

.right-no-padding {
	padding-right: 0 !important;
}

.fluid-blocks-col {
	padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
	padding: 70px 80px 0 40px;
}


/*
Separator
*/

.separator_left {
	width: 85px;
	height: 2px;
	margin: 20px 0px;
	background: #E8B85E;
}

.separator_auto {
	width: 85px;
	height: 2px;
	margin: 20px auto;
	background: #E8B85E;
}

.separator_small {
	width: 85px;
	height: 2px;
	margin: 20px auto;
	background:#E8B85E;
}

.separator_small_last {
	width: 30px;
	height: 2px;
	margin: 20px 0px;
	background:#E8B85E;
}

/*
socail icon
--------------------------------*/

/*a i.share{
    color:#1E8BC3;
    -webkit-transition: all .6s;
    transition: all .6s;
}*/

/*
Extra height css
*/

.m-0 {
	margin: 0 !important;
}

.m-top-0 {
	margin-top: 0;
}

.m-r-0 {
	margin-right: 0;
}

.m-l-0 {
	margin-left: 0;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-r-15 {
	margin-right: 15px;
}

.m-l-15 {
	margin-left: 15px;
}

.m-top-10 {
	margin-top: 10px;
}

.m-top-20 {
	margin-top: 20px;
}

.m-top-30 {
	margin-top: 30px;
}

.m-top-40 {
	margin-top: 40px;
}

.m-top-50 {
	margin-top: 50px;
}

.m-top-60 {
	margin-top: 60px;
}

.m-top-70 {
	margin-top: 70px;
}

.m-top-80 {
	margin-top: 80px;
}

.m-top-90 {
	margin-top: 90px;
}

.m-top-100 {
	margin-top: 100px;
}

.m-top-110 {
	margin-top: 110px;
}

.m-top-120 {
	margin-top: 120px;
}

.m-t-b-80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.m-t-b-120 {
	margin-top: 120px;
	margin-bottom: 120px;
}

.m-bottom-10 {
	margin-top: 10px;
}

.m-bottom-20 {
	margin-bottom: 20px;
}

.m-bottom-30 {
	margin-bottom: 30px;
}

.m-bottom-40 {
	margin-bottom: 40px;
}

.m-bottom-60 {
	margin-bottom: 60px;
}

.m-bottom-70 {
	margin-bottom: 70px;
}

.m-bottom-80 {
	margin-bottom: 80px;
}

.m-bottom-90 {
	margin-bottom: 90px;
}

.m-bottom-100 {
	margin-bottom: 100px;
}

.m-bottom-110 {
	margin-bottom: 110px;
}

.m-bottom-120 {
	margin-bottom: 120px;
}

.m_t__b {
	margin: 14rem 0;
}

.p_t__b {
	padding: 6rem 0;
}

.p-0 {
	padding: 0 !important;
}

.p-l-15 {
	padding-left: 15px;
}

.p-r-15 {
	padding-right: 15px;
}

.p-top-10 {
	padding-top: 10px;
}

.p-top-20 {
	padding-top: 1.33rem;
}

.p-bottom-20 {
	padding-bottom: 1.33rem;
}

.p-top-30 {
	padding-top: 1.875rem;
}

.p-bottom-30 {
	padding-bottom: 1.875rem;
}

.p-top-40 {
	padding-top: 2.66rem;
}

.p-bottom-40 {
	padding-bottom: 2.66rem;
}

.p-top-60 {
	padding-top: 5rem;
}

.p-bottom-60 {
	padding-bottom: 5rem;
}

.p-top-80 {
	padding-top: 5.714rem;
}

.p-bottom-80 {
	padding-bottom: 5.714rem;
}

.p-top-90 {
	padding-top: 6.429rem;
}

.p-bottom-90 {
	padding-bottom: 6.429rem;
}

.p-top-100 {
	padding-top: 100px;
}

.p-bottom-100 {
	padding-bottom: 100px;
}

.p-top-110 {
	padding-top: 110px;
}

.p-bottom-110 {
	padding-bottom: 110px;
}

.p-bottom-0 {
	padding-bottom: 0;
}

.p_l_r {
	padding-left: 5.714rem;
	padding-right: 5.714rem;
}

/*padding*/

.padding-twenty {
	padding: 10px 0;
}

.padding-fourty {
	padding: 20px 0;
}

.padding-sixty {
	padding: 30px 0;
}

.padding-eighty {
	padding: 40px 0;
}

/*border*/

.no-border-top {
	border-top: 0px solid transparent !important;
}

.no-border-rigth {
	border-right: 0px solid transparent !important;
}

/*for image bg*/

/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

.transform_scal_rotate:hover img {
	-webkit-transform: scale(1.1) rotate(4deg);
	transform: scale(1.1) rotate(4deg);
}

.culmn {
	width: 100%;
	overflow: hidden;
}

/*heading title all area*/

.head_title {
	padding-bottom: 7.143rem;
	overflow: hidden;
}

.head_title h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.286rem;
	color: #1a1a1a;
}

.head_title p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #4a4a4a;
}

/*End off pridifain css*/

/*Preloader css*/

#loading {
	background-color:#1f6f8b ;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
	left: 0;
	z-index: 9999;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

}

.object {
	width: 20px;
	height: 20px;
	background-color: #FFF;
	position: absolute;
	left: 65px;
	top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

.object:nth-child(2n+0) {
	margin-right: 0px;

}

#object_one {
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#object_two {
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

#object_three {
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#object_four {
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

#object_five {
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#object_six {
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

#object_seven {
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

#object_eight {
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

#object_big {

	position: absolute;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}


@-webkit-keyframes object_big {
	50% {
		-webkit-transform: scale(0.5);
	}

}

@keyframes object_big {
	50% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
	}

}

@-webkit-keyframes object_one {
	50% {
		-webkit-transform: translate(-65px, -65px);
	}

}

@keyframes object_one {
	50% {
		transform: translate(-65px, -65px);
		-webkit-transform: translate(-65px, -65px);
	}

}


@-webkit-keyframes object_two {
	50% {
		-webkit-transform: translate(0, -65px);
	}
}

@keyframes object_two {
	50% {
		transform: translate(0, -65px);
		-webkit-transform: translate(0, -65px);
	}

}

@-webkit-keyframes object_three {
	50% {
		-webkit-transform: translate(65px, -65px);
	}
}

@keyframes object_three {
	50% {
		transform: translate(65px, -65px);
		-webkit-transform: translate(65px, -65px);
	}
}

@-webkit-keyframes object_four {

	50% {
		-webkit-transform: translate(65px, 0);
	}

}

@keyframes object_four {
	50% {
		transform: translate(65px, 0);
		-webkit-transform: translate(65px, 0);
	}

}

@-webkit-keyframes object_five {

	50% {
		-webkit-transform: translate(65px, 65px);
	}

}

@keyframes object_five {
	50% {
		transform: translate(65px, 65px);
		-webkit-transform: translate(65px, 65px);
	}

}

@-webkit-keyframes object_six {

	50% {
		-webkit-transform: translate(0, 65px);
	}

}

@keyframes object_six {
	50% {
		transform: translate(0, 65px);
		-webkit-transform: translate(0, 65px);
	}

}

@-webkit-keyframes object_seven {

	50% {
		-webkit-transform: translate(-65px, 65px);
	}

}

@keyframes object_seven {
	50% {
		transform: translate(-65px, 65px);
		-webkit-transform: translate(-65px, 65px);
	}

}

@-webkit-keyframes object_eight {

	50% {
		-webkit-transform: translate(-65px, 0);
	}

}

@keyframes object_eight {
	50% {
		transform: translate(-65px, 0);
		-webkit-transform: translate(-65px, 0);
	}

}

/*End off Preloader*/

/*
Nav Menu style
==================*/
.logo_scale{
	height:50px;
}
/*
Home Section style
==================*/

.home {
	background: url(../images/background/hello.jpg) no-repeat bottom center;
	background-size: cover;
	position: relative;
}

.main_home {
	overflow: hidden;
	padding-top: 310px;
	padding-bottom: 320px;
	position: relative;
	z-index: 1;
}

.home_text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 4.286rem;
	font-weight: 700;
	line-height: 6.5rem;
}

/*
Skill Section style
=======================*/

/* Skill bar*/

.main_skill {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.teamskillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #f2f2f2;
	height: 10px;
	-webkit-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	transition-property: width, background-color;
}

.teamskillbar h6 {
	position: absolute;
	top: -25px;
	left: 0;
}

.teamskillbar-bar {
	height: 10px;
	width: 0px;
	background: #4270A3;
	position: absolute;
	left: 0px;
	top: 0px;
}


.skill_bottom_content {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.skill_bottom_item .separator_small {
	margin: 20px auto;
}


/*
Blog Section style
=====================*/

.blog_item {
	overflow: hidden;
	width: 100%;
}

.blog_item_img {
	overflow: hidden;

}

.blog_item_img img {
	width: 100%;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.blog_item:hover .blog_item_img img {
	-webkit-transform: scale(1.1) rotate(2deg);
	-moz-transform: scale(1.1) rotate(2deg);
	-o-transform: scale(1.1) rotate(2deg);
	-ms-transform: scale(1.1) rotate(2deg);
	transform: scale(1.1) rotate(2deg);
}

.blog_text {
	border: 1px solid #eee;
}

.blog_text p a {
	color: #666666;
	padding: 5px;
}


/*
Contact Section style
=====================*/

.main_contact {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.main_contact a.btn {
	width: 100%;
}


.widget_socail ul li a i {
	background-color: #434343;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

.widget_socail ul li a:hover i {
	background-color: #e6d5b8;
	color:#1c2b2d;
}


.widget_socail li {
	display: inline-block;
	padding-right: 10px;
}

/*
Footer Section style
=====================*/

.main_footer {
	overflow: hidden;
}

.main_footer i {
	padding: 0px 5px;
	color: #ff0000;
}

/*
Portfolio style
=====================*/
.port_intro {
	position:relative;
	top:-100px;
}
.home_port {
	background-size: 60%;
	position: relative;
}

.port_nav {
	padding-left: 370px
}


.move_bar{
	position: relative;
	top:-100px;
	left:100px;
}

.main_port {
	overflow: hidden;
	padding-top: 150px;
	position: relative;
	z-index: 1;
}

.port_home_text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 3rem;
}

.conclusion p {
	padding-top:2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	color:#1c2b2d ;
}
/*
Video Section style
======================*/

.video {
	background: url(../images/background/video.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

.main_video {
	display: block;
	/*z-index: 2;*/
	/*position: relative;*/
}

.main_video i,
.main_video span.fa,
.main_video span.icon {
	color: #fff;
	font-size: 3rem;
	border: 2px solid #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	position: relative;
}

/* scrollup */

.scrollup {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #ff6863;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}

/*Modified CSS*/

.navbar-header button span {
	position: absolute;
	top: 8px;
	bottom: 0;
	width: 16px;
	height: 3px;
	background: #777;
	margin-bottom: 2px;
	display: block;
	transition: 0.3s;
	border-radius: 5px;
}

.navbar-header button:hover {
	cursor: pointer
}

.navbar-header button span:nth-of-type(2) {

	margin: 5px 0;
}

.navbar-header button span:nth-of-type(3) {

	margin: 10px 0;
}

.navbar-header button {
	transition: all 0.3s ease-in-out;
}

.navbar-header button.active span:nth-of-type(2) {
	display: none
}

.navbar-header button.active span:nth-of-type(1) {
	transform: rotate(-45deg);
	top: 18px;
	transition: 0.3s
}

.navbar-header button.active span:nth-of-type(3) {
	margin: 10px 0;
	transform: rotate(45deg);
	transition: 0.3s
}


.navbar-header button {
	border: none;
}

.navbar-header button:focus {
	outline: none;
}


.dropdown-toggle::after {
	display: none
}

.attr-nav > ul > li > a span.badge {
	background: #777;
	border-radius: 50%;
	margin-right: -4px;
}

.attr-nav {
	position: absolute;
	right: 10px;
	top: 0;
	margin-top: -10px;
}

@media (max-width: 1023px) {
	nav.navbar.bootsnav ul.nav > li > a {
		font-weight: 600;
	}
	.navbar-expand-lg .navbar-nav > li {
		margin-left: 30px;
	}
}

@media (max-width: 992px) {
	.navbar-expand-md .navbar-toggler {
		display: block !important;
	}
	nav.navbar.bootsnav .navbar-brand {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	nav.navbar.bootsnav .navbar-collapse.collapse.show {
		display: block !important;
		overflow-x: hidden;
	}
	nav.navbar.bootsnav .navbar-nav {

		padding-top: 25px;
		margin-left: 0px;
	}

	.navbar-expand-lg .navbar-nav > li {
		margin-left: 0px;
	}
}

.gif-container{
	margin-left:18%;
}
.gif-container img{
	width:600px;
}



/*style for recent works*/
.recent-container{
	border: black solid 2px;
	min-height: 300px
}








